@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";

}
@using LnJ_Catering_Services.Models;
@model IEnumerable<Food>
<!-- search form  -->

<form action="" id="search-form">
    <input type="search" placeholder="search here..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>
<!-- dishes section starts  -->


<section class="dishes" id="dishes">
    <br /><br /><br /><br />

    <h3 class="sub-heading"> our dishes </h3>
    <h1 class="heading"> popular dishes </h1>

    <div class="box-container">
        @foreach (var item2 in ViewBag.dish)
        {
            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="~/@item2.DishImagePath" alt="">
                <h3>@item2.DishName</h3>
                <p>
                    <span class="starrating"> <span class="starnumber">@item2.DishRating</span> star rating</span> <br />
                    <span class="price">R @item2.DishPrice</span>
                </p>
            </div>
        }



    </div>

</section>

<!-- dishes section ends -->
<!-- menu section starts  -->

<section class="menu" id="menu">

    <h3 class="sub-heading"> our menu </h3>
    <h1 class="heading"> today's speciality </h1>

    <div class="box-container">
        @foreach (var item in Model)
        {
            <div class="box">
                <div class="image">
                    <img src="~/@item.MenuImagePath" alt="">
                    <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <h3>@item.MenuName</h3>
                    <p>
                        <span style="color: green; font-weight: bold; text-transform: lowercase;"> <span style=" font-weight: bolder; font-size: larger; ">@item.MenuRating</span> star rating</span> <br />
                        @item.MenuDescription <br /><span class="price">R @item.MenuPrice</span>
                    </p>
                    <form asp-controller="Admin" asp-action="EditMenuDetails" method="post">
                        <input type="hidden" name="MenuId" value="@item.MenuID" />
                        <button type="submit" class="btn">Edit</button>
                    </form>

                </div>
            </div>
        }

    </div>
    <style>
        .starrating {
            color: green;
            font-weight: bold;
            text-transform: lowercase;
        }

        .starnumber {
            font-weight: bolder;
            font-size: larger;
        }
    </style>
</section>

<!-- menu section ends -->
<!-- footer section starts  -->

<section class="footer">
    <div class="box-container">

        <div class="box">
            <h3>locations</h3>
            <a target="_blank" href="https://www.bing.com/maps?q=271+Sisulu+Street%2C+Pretoria+Suburbs%2C+City+of+Tshwane%2C+0002&cvid=766cf9fc806a4eaca87074e56633063b&aqs=edge..69i57j69i11004.1110j0j1&pglt=675&FORM=ANNAB1&PC=U531">South Africa - Pretoria</a>
            <a href="#">Ghana - Navrongo</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a asp-controller="Privacy" asp-action="Privacy">privacy</a>
            <a href="#">dishes</a>
            <a href="#">about</a>
            <a href="#">menu</a>
            <a href="#">reivew</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#">+27 79 442 6957</a>
            <a href="#">+27 78 545 5397</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
        </div>

    </div>

    <div class="credit"> copyright - 2021 by <span>Dev Tech</span> </div>

</section>

<!-- footer section ends -->
<!-- loader part  -->
@*<div class="loader-container">
        <img src="~/images/loader.gif" alt="">
    </div>*@


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="~/js/script.js"></script>

